[submodule "frontend"]
	path = frontend
	url = git@github.com:higebobo/vue-firebase-jwt-sample-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:higebobo/vue-firebase-jwt-sample-backend.git
